<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Poppins&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Alien Weather</title>
</head>
<body>
    <!-- <h1>My Weather App</h1> -->
    <header>
        <div class="navbar">
            <h1>Alien Weather</h1>
            <div class="navbar-info">
                <span>About</span>
                <span>Contact</span>
            </div>            
        </div>
    </header>
    <main>
        <div class="container">
            <form action="/" method="post">
               <input type="search" name="location" id="location" placeholder="location"> 
            </form> 
            <% if(locals.data) { %>           
            <div class="weather-container">
                <img src="<%= data.current.condition.icon %>" alt="">
                <div class="info-container">
                    <span class="temperature"><%= data.current.temp_c %>°C</span>
                    <p class="sky-condition"><%= data.current.condition.text %></p>
                    <span class="location"><%= data.location.name %>, <%= data.location.country %></span>
                    
                    <div class="stats">
                        <div class="humidity">
                            <img src="humidity_percentage_FILL1_wght700_GRAD0_opsz24.svg" alt="">
                            <div class="stats-data-container">
                                <p><%= data.current.humidity %>%</p>
                                <p>Humidity</p>
                            </div>
                            
                        </div>
                        <div class="wind">
                            <img src="wind-solid.svg" alt="">
                            <div class="stats-data-container">
                                <p><%= data.current.wind_kph %> km/h <%= data.current.wind_dir %></p>
                                <p>WindSpeed</p>
                            </div>
                            
                        </div>
                    </div>
                    <p>Show more(dropdown)</p>
                </div>
            </div>
            <% } %>
        </div>
    </main>
    <% const currentYear = new Date().getFullYear() %>
    <footer>
        <p>Made in love by Shaurya | Shiv Kant Mani</p>
        <p>copyright <%= currentYear %>. All rights reserved.</p>
    </footer>
</body>
</html>